<h1><%= @category.name %>列表</h1>


<ul>
<% @restaurants.each do |restaurant| %>
<div class="category-restaurants">
	<li>
    <h2><%= restaurant.name %></h2>
		<%= link_to 'show', category_restaurant_path(@category, restaurant) %>
    <%= image_tag(restaurant.image, :width => 250) %>

	</li>

</div>
<% end %>

</ul>
<div class="clearfix">

</div>

	  <%= link_to 'back to index', root_path %>
