  <h2>Profile</h2>
  <br>
  <p><%= image_tag(@user.file_location, :width => 250) %></p>

  <h2><%= @user.firstname %> <%= @user.lastname %></h2>
  <p>自我介紹</p>
  <p><%= @user.introself %></p>
  <br>

  <%= link_to 'Edit Profile', edit_user_path(@user) %>
  <hr>
  <h3>自己評論餐廳數：<%= @comments.count %></h3>
  <h3>你曾經留言評論的餐廳</h3>
  <% @comments.each do |comment| %>
    <h4>餐廳名稱: <%= comment.restaurant.name %> 餐廳，
        留言內容: <%= comment.comment %> ，留言日期：<%= comment.created_at %></h4>
  <% end %>
  <hr>
  <h3>你收藏的餐廳，總共有<%= @favorites.count %>間</h3>
  <% @favorites.each do |favorite| %>
    <h4>餐廳名稱: <%= favorite.restaurant.name %> 餐廳
  <% end %>
