<h3>Edit Restaurant</h3>
<%= form_for @restaurant, :url => { :controller => 'admin/restaurants', :action => 'update', :id => @restaurant } do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %> <br>
    <%= f.label :opening_hour, "Opening Hour" %>
    <%= f.text_field :opening_hour %> <br>
    <%= f.label :tel, "Tel" %>
    <%= f.text_field :tel %> <br>
    <%= f.label :address, "Address" %>
    <%= f.text_field :address %> <br>

    <%= f.label :description, "Description" %>
    <%= f.text_area :description %><br>

    <%= f.label :image, "Photo" %>
    <%= f.text_field :image %> <br>

    <%= f.submit "Update" %>
<% end %>
