<h3>Hello, Admin</h3>

<ul>
<% @restaurants.each do |restaurant| %>
  <li>
 	  <%= restaurant.name %>
    <%= link_to 'Location',  admin_restaurant_location_path(restaurant) %>
    <%= link_to 'Show', :controller => 'admin/restaurants', :action => 'show', :id => restaurant %>
    <%= link_to 'Edit', :controller => 'admin/restaurants', :action => 'edit', :id => restaurant %>
    <%= link_to 'Delete', admin_restaurant_path(restaurant),method: :delete, data:{ confirm:"Are you sure?"}, :id => restaurant %>
  </li>
<% end %>
</ul>
<%= link_to 'New Restaurant', :controller => 'restaurants', :action => 'new' %><br>
<%= link_to 'Categories', :controller => 'categories', :action => 'index' %><br>
<br>
