<h3>Show Restaurant Information</h3>

<h1>Restaurant Name<%= @restaurant.name %></h1>
<p><%= image_tag(@restaurant.image) %></p>
<p>Opening Hour<%= @restaurant.opening_hour %></p>
<p>Tel<%= @restaurant.tel %></p>
<p>Address<%= @restaurant.address %></p>
<p>Description<%= @restaurant.description %></p>


<p><%= link_to 'Back to index', :controller => 'admin/restaurants', :action => 'index' %></p>
