<h1>Welcome Restaurant Advisor</h1>
<h3><%= link_to '人氣TOP 5 餐廳', dashboard_restaurants_path %></h3>

<h3>依分類瀏覽餐廳：</h3>
  <% @categoires.each do |category| %>
    <%= link_to category_restaurants_path(category) do %>
      <p><%= category.name %></p>
    <% end %>
  <% end %>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <h2><%= restaurant.name %></h2>
      <%= render :partial => 'favorites', :locals => { :restaurant => restaurant } %>
      <%= image_tag(restaurant.image, :width => 250) %>
      <%= restaurant.category.name%>
      <%= restaurant.description %>
      <%= link_to 'Read More', restaurant_path(restaurant) %>
      評論數：<%= restaurant.comments.count %>
    </li>
  <% end %>
</ul>




  <%= paginate @restaurants %>
