<div class="category">
  餐廳點評論壇
  <!-- 人氣TOP 10 餐廳 -->
  <%= link_to '人氣TOP 10 餐廳', dashboard_restaurants_path %>
  <!-- 依分類瀏覽餐廳： -->
  <% @categoires.each do |category| %>
    <%= link_to category_restaurants_path(category) do %>
      <%= category.name %>
    <% end %>
  <% end %>
</div>

  <!--所有的餐廳@restaurants -->
  <% @restaurants.each do |restaurant| %>
    <div class="container clearfix">
        <%= image_tag(restaurant.image, :width => 250) %>
        <h1><%= restaurant.name %></h1>
        <p><%= render :partial => 'favorites', :locals => { :restaurant => restaurant } %></p>
        <p><%= restaurant.category.name%></p>
        <p>餐廳特色：<%= restaurant.description %></p>
        <p><%= restaurant.comments.count %> 則評論數
          <%= link_to 'Read More', restaurant_path(restaurant) %></p>
    </div>
  <% end %>

  <!--分頁 -->
  <div class="paginate">
    <%= paginate @restaurants %>
  </div>
